defaults:
  - override hydra/job_logging: stdout

hydra:
  run:
    dir: .
  output_subdir: null

cluster:
  num_nodes: 1
  component_placement:
    actor,rollout,reward: all

runner:
  task_type: reasoning
  logger:
    log_path: ${runner.output_dir}/${runner.experiment_name}
    project_name: rlinf
    experiment_name: ${runner.experiment_name}
    logger_backends: ["tensorboard"] # wandb, swanlab

  max_epochs: 1000
  max_steps: -1

  val_check_interval: 1
  save_interval: 50

  seq_length: 10240

  enable_dynamic_batch_size: True
  max_tokens_per_mbs: 16384

  resume_dir: null
  experiment_name: zcy_rstar2-qwen2.5-1.5b-128-wo_down-wo_tool-wo_re-mg_fp32_fp16
  output_dir: /mnt/public/zhuchunyang_rl/logs

down_sampling:
  do_down_sampling: false
  down_sampling_config:
    reject_equal_reward: true
    roc_error_ratio: true
    roc_answer_format: true
    min_zero_reward_trace_num: 2
    min_non_zero_reward_trace_num: 2
    down_sample_to_n: 16

algorithm:
  group_size: 32

  n_minibatches: 1
  training_batch_size_per_gpu: 1 # micro batch size
  rollout_batch_size_per_gpu: null # If set to null, rollout_batch_size will be evenly divided across all inference instances. You can reduce this parameter if inference consumes too much GPU memory.

  # mbs to do log prob inference, can be set to
  # lower than rollout_batch_size_per_gpu to reduce
  # memory usage
  logprob_forward_micro_batch_size: 1 # ${.rollout_batch_size_per_gpu}

  # val rollout mbs
  val_rollout_batch_size_per_gpu: 4 # ${.rollout_batch_size_per_gpu}

  recompute_logprobs: True
  shuffle_rollout: False

  # GRPO loss params
  loss_type: actor
  loss_agg_func: "token-mean"
  kl_beta: 0.0 # 0.001
  kl_penalty_type: low_var_kl
  ratio_clip_eps: 0.2
  entropy_bonus: 0.0
  calculate_entropy: True
  clip_ratio_c: 3.0 # 3.0
  clip_ratio_low: 0.2 # if null or not set, will use ratio_clip_eps
  clip_ratio_high: 0.28 # if null or not set, will use ratio_clip_eps

  adv_type: grpo
  normalize_advantages: False
  early_stop_imp_ratio: 5.0
  use_valid_token_scale: False

  # params for rollout
  sampling_params:
    use_greedy: False
    temperature: 1.0
    top_k: -1
    top_p: 1.0
    repetition_penalty: 1.0
    max_new_tokens: ${subtract:${runner.seq_length}, ${data.max_prompt_length}}
    min_new_tokens: 1

agentloop:
  group_name: "AgentLoopGroup"
  max_user_turns: null
  max_assistant_turns: 5
  max_parallel_calls: 1
  max_tool_response_length: 256
  tool_response_truncate_side: "middle"
  print_outputs: False # whether to print the outputs (token ids, texts, tool calls, etc.) of agent loop worker.

tools:
  mcp_file_system: null
  codejudge:
    host_addr: 127.0.0.1
    host_port: 8000
    concurrency_limit: 128

rollout:
  group_name: "RolloutGroup"

  gpu_memory_utilization: 0.6

  model_dir: /mnt/public/zhuchunyang_rl/hf_models/Qwen2.5-1.5B-Instruct
  model_arch: qwen2.5
  precision: fp16
  enforce_eager: False         # if False, rollout engine will capture cuda graph, which will take more time to initialize.
  distributed_executor_backend: mp   # ray or mp
  disable_log_stats: False
  detokenize: False            # Whether to detokenize the output. During RL we actually don't need to detokenize it. Can be set to True for debugging.
  padding: null               # will be tokenizer.pad_token_id if null. it is used to filter megatron's padding for rollout engine
  eos: null                   # will be tokenizer.eos_token_id if null.

  rollout_backend: sglang     # here choose which backend to rollout,support [sglang, vllm] 

  custom_chat_template: "\n{%- if messages[0]['role'] == 'system' %}\n    {{- '<|im_start|>system\\n' + messages[0]['content'] + '<|im_end|>\\n' }}\n{%- else %}\n    {{- '<|im_start|>system\\nA conversation between User and Assistant. The User asks a question, and the Assistant solves it. The Assistant first thinks about the reasoning process in the mind and then provides the User with the answer. The reasoning process is enclosed within <reason> </reason> and answer is enclosed within <answer> </answer> tags, respectively, i.e., <reason> reasoning process here </reason> <answer> answer here </answer>.<|im_end|>\\n' }}\n{%- endif %}\n{%- for message in messages %}\n    {%- if (message.role == \"user\") or (message.role == \"system\" and not loop.first) or (message.role == \"assistant\") %}\n        {%- if message.role == \"user\" %}\n            {{- '<|im_start|>' + message.role + '\\n' + 'You must put your answer inside <answer> </answer> tags, i.e., <answer> answer here </answer>. And your final answer will be extracted automatically by the \\\\boxed{} tag.\\nThis is the problem:\\n' + message.content + '<|im_end|>' + '\\n' }}\n        {%- elif message.role == \"assistant\" %}\n            {{- '<|im_start|>' + message.role }}\n            {%- if message.content %}\n                {{- '\\n' + message.content }}\n            {%- endif %}\n            {{- '<|im_end|>\\n' }}\n        {%- elif message.role == \"system\" %}\n            {{- '<|im_start|>' + message.role + '\\n' + message.content + '<|im_end|>' + '\\n' }}\n        {%- endif %}\n    {%- endif %}\n{%- endfor %}\n{%- if add_generation_prompt %}\n    {{- '<|im_start|>assistant\\n<reason>' }}\n{%- endif %}\n"

  sglang:
    attention_backend: triton # [flashinfer, triton] for more, see sglang's doc
    decode_log_interval: 500000 # the interval for SGLang to log the decode time and other stats.
    use_torch_compile: False # enable torch_compile in SGLang for rollout.
    torch_compile_max_bs: 128 # the maximum batch size for torch compile. If the batch size is larger than this, torch compile will not be used.

  vllm:
    attention_backend: FLASH_ATTN #[FLASH_ATTN,XFORMERS] for more, see vllm's doc
    enable_chunked_prefill: True  # enable vllm to use chunked_prefill.
    enable_prefix_caching: True   # enable vllm to use prefix_caching.
    enable_flash_infer_sampler: True # if True, vllm will use flashinfer to do sampling.
    max_num_batched_tokens: null # the maximum number of tokens to be batched together in vllm. If set to null, vllm will use its default value.
    torch_profiler_dir: null # if not null, vllm will enable torch profiler and save the result to the specified directory.

  return_logprobs: ${not:${algorithm.recompute_logprobs}}

  tensor_parallel_size: 1
  pipeline_parallel_size: 1
  
  validate_weight: False # whether to send all weights at first for weight comparison.
  validate_save_dir: null # the directory to save the weights for comparison. If validate_weight is True, this will be used to save the weights for comparison.
  print_outputs: False         # whether to print the outputs (token ids, texts, etc.) of rollout engine.

  max_running_requests: 64 # the maximum number of running requests in the rollout engine.
  cuda_graph_max_bs: 128  # the maximum batch size for cuda graph. If the batch size is larger than this, cuda graph will not be used.

data:
  type: rstar2
  max_prompt_length: 2048
  filter_prompt_by_length: True
  rollout_batch_size: 128
  val_rollout_batch_size: null
  num_workers: 2
  prompt_key: prompt
  answer_key: solutions
  apply_chat_template: True
  shuffle: False
  validation_shuffle: False
  seed: 1234
  train_data_paths: ["/mnt/public/wangxiangyuan/dataset/rstar2/new_train.jsonl"]
  val_data_paths: ["/mnt/public/wangxiangyuan/dataset/rstar2/new_train.jsonl"]
  apply_chat_template_kwargs: {}

actor:
  group_name: "ActorGroup"
  training_backend: megatron
  mcore_gpt: True
  spec_name: decoder_gpt

  checkpoint_load_path: null

  enable_dp_load_balance: False

  calculate_flops: False

  seed: 1234

  # megatron-only config
  offload_optimizer: True
  offload_weight: True
  offload_grad: True

  model:
    precision: fp16
    seq_length: ${runner.seq_length}
    encoder_seq_length: ${runner.seq_length}

    # megatron-only config
    tensor_model_parallel_size: 1
    pipeline_model_parallel_size: 1

    sequence_parallel: False

    recompute_method: block
    recompute_granularity: full
    recompute_num_layers: 28

    apply_rope_fusion: True
    bias_dropout_fusion: False
    persist_layer_norm: False
    bias_activation_fusion: False
    attention_softmax_in_fp32: True
    batch_p2p_comm: False
    variable_seq_lengths: True
    gradient_accumulation_fusion: False
    moe_token_dispatcher_type: alltoall
    use_cpu_initialization: False

    add_bias_linear: False
    activation: swiglu
    normalization: rmsnorm
    position_embedding_type: rope
  optim:
    optimizer: adam
    lr: 1e-6
    adam_beta1: 0.9
    adam_beta2: 0.95
    adam_eps: 1.0e-05
    min_lr: 0.0
    weight_decay: 0.01
    use_distributed_optimizer: True
    overlap_grad_reduce: False
    overlap_param_gather: False
    optimizer_enable_pin: False
    overlap_param_gather_with_optimizer_step: False
    clip_grad: 1.0
    loss_scale: 65536

    # megatron-only config
    bf16: False
    fp16: False

  lr_sched:
    lr_warmup_fraction: 0.1
    lr_warmup_init: 0.0
    # lr_warmup_iters: 0
    max_lr: 1e-6
    min_lr: 0.0
    lr_decay_style: constant
    lr_decay_iters: 200

  tokenizer:
    tokenizer_model: ${rollout.model_dir}
    use_fast: False
    trust_remote_code: True
    padding_side: 'right'

  megatron:
    ddp_bucket_size: null
    distributed_backend: nccl # Support 'nccl' and 'gloo'
    distributed_timeout_minutes: 60
    ckpt_format: torch
    use_dist_ckpt: False
    tp_comm_bootstrap_backend: nccl
    tp_comm_overlap_cfg: null # tp_comm_overlap_cfg.yaml
    use_hf_ckpt: True # if true, will transfer hf model to generate megatron checkpoint and use it for training.
    use_profiler: False # if true, will enable torch profiler when training, pay attention it has influence on performance

    ckpt_convertor: # config for ckpt convertor
      model: qwen_2.5_1.5b
      model_type: null # will be set by hf model's config if null
      hf_model_path: ${rollout.model_dir} # path to the hf model
      save_path: ${runner.output_dir}/${runner.experiment_name}/converted_ckpts/actor
      use_gpu_num : 0
      use_gpu_index: null
      process_num: 16 # number of processes to use for checkpointing
      tensor_model_parallel_size: ${actor.model.tensor_model_parallel_size}
      pipeline_model_parallel_size: ${actor.model.pipeline_model_parallel_size}

    profiler: # profile megatron when inference and traning
      output_dir: ${runner.output_dir}/${runner.experiment_name}/profiler
      activities: ["cpu", "cuda"]
      record_shapes: False
      profile_memory: False
      with_stack: False
      with_flops: False
      with_modules: True
      export_tensorboard: True
      export_chrome_trace: False
      chrome_filename_prefix: "chrome_trace"
      schedule_warmup: 2
      schedule_active: 1
      schedule_repeat: 1 # inference and training will repeat such times
      # schedule_wait: it will be set at runtime

reward:
  group_name: "RewardGroup"
  use_reward_model: False
  reward_type: 'rstar2'
  reward_scale: 1.0

  tokenizer:
    tokenizer_model: ${actor.tokenizer.tokenizer_model}
    use_fast: ${actor.tokenizer.use_fast}
    trust_remote_code: ${actor.tokenizer.trust_remote_code}
    padding_side: ${actor.tokenizer.padding_side}

critic:
  use_critic_model: False
