defaults:
  - mas_eval

runner:
  experiment_name: qwen2.5-7b-eval
  output_dir: /mnt/public/xzxuan/Multi-Agent/RLinf/test/async_eval
  seq_length: 12000  

  max_epochs: 1
  max_steps: -1  

algorithm:
  group_size: 5

agentloop:
  use_llm_judge_api: True
  workflow: mas

rollout:
  model:
    model_type: qwen2.5
    model_path: /mnt/public/hf_models/Qwen2.5-7B-Instruct
  tensor_parallel_size: 1
  pipeline_parallel_size: 1


tools:
  online: False


data:
  type: mas
  max_prompt_length: 4096
  val_rollout_batch_size: 1000
  val_data_paths: ["/mnt/public/xzxuan/data/nq_hotpotqa_train/test_RLinf.jsonl"]
  data_size: 1000
  
actor:
  # checkpoint_load_path: /mnt/public/xzxuan/Multi-Agent/RLinf/converted_ckpts/7b_tp2_pp1
  model:
    megatron_checkpoint: /mnt/public/xzxuan/Multi-Agent/RLinf/converted_ckpts/7b_tp2_pp1
    recompute_num_layers: 36

    tensor_model_parallel_size: 2
    pipeline_model_parallel_size: 1
    sequence_parallel: ${gt:${actor.model.tensor_model_parallel_size}, 1}

  megatron:
    use_hf_ckpt: False  
    ckpt_convertor:
      model: qwen_2.5_7b
      
reward:
  reward_type: 'em' # or em
  eval_metric: ['em', 'f1', 'llm']


