__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
PKG-INFO
RoboTwin/data/
# Evaluation video artifacts
RoboTwin/eval_video_log/**/*.mp4
# Data collection artifacts
RoboTwin/**/*.hdf5
# Data collection artifacts
RoboTwin/**/*.parquet
RoboTwin/
